* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #4ea9cc;
    font-family: "Manrope", sans-serif;
  }
  
  h2 {
    margin: 2rem 0;
  }
  .container {
    max-width: 1200px;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
  }
  
  label {
    display: inline-block;
    width: 200px;
  }
  
  .form_group {
    margin: 1rem 0;
  }
  
  input, button {
    font-family: inherit;
    padding: 0.625rem;
    border: 1px solid grey;
    border-radius: 2px;
  }
  
 button {
    background-color: #035a7c;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    margin: 2rem 0 1rem;
    text-transform: capitalize;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  .input{
    flex: 1;
  }

  .output {
    flex: 2;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-break: break-all;
  }
  th {
    font-weight: bold;
    background-color: #4ea9cc;
    color: white;
    text-transform: uppercase;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .search_result {
    display: block;
    height: 24px;
    padding: 20px 0;
  }